{% extends "home.html" %}
{% block about %}
<div >
    <h1 class = "heading">About SuggestiPy</h1>
    <h4 id='about'> This is a Project in which we implemented a Song Recommender system which takes the link of a playlist as input and output the list of song linked to their respective spotify pages, on the basis of various audio featuers. Have you tried it? if not, go try it now!</h4>
    <div class = 'break-medium'></div>
    <h3 class='about1'>Contributors:</h3>
    <div class = 'break-medium'></div>
    <div class = "about-me">
        <img src="/static/img/mrityunjay.png" class="profile" width="250px" style = "border-radius:50%;">
        <p style = "font-size: 30px; line-height:23pt;">Mrityunjay Gupta<br><a href="https://www.linkedin.com/in/mrityunjay-gupta-117233192/" target = "_blank" style = "color:#000000">LinkedIn</a></p>
    </div>
    <div class="break-medium"></div>
    <div class = "about-me">
        <img src="/static/img/ktk.jpeg" class="profile" width="250px" style = "border-radius:50%;">
        <p style = "font-size: 30px; line-height:23pt;">Kartikey Gupta<br><a href="https://www.linkedin.com/in/ktk5901/" target = "_blank" style = "color:#000000">LinkedIn</a></p>
    </div>
</div>
{% endblock %}
