{% extends "home.html" %}
{% block instruction %}
<div >
    <h1 class = "heading">Instructions</h1>
    <div class = "instruction">
        <p>1. Go to your Playlist on spotify and Copy it URL. To do so, follow the instructions <a href="https://wordpress.com/support/audio/spotify/" target="_blank" style="text-decoration:none; color: #92220b;">here.</a></p>
        <img class = "center" src = "/static/img/link.png" width = "1000">
        <div class = "break-medium"></div>
        <p>2. Paste The URL of the playlist.</p>
        <img class = "center" src = "/static/img/urlcopy.png" width = "1000">
        <div class = "break-medium"></div>
        <p>3. Select The number of Recommendations you want, and then click on "Get Recommendations" button.</p>
        <img class = "center" src = "/static/img/dropdown.png" width = "1000">
        <div class = "break-medium"></div>
        <p>4. VOILA !! You have your recommendations. Clicking on them will take you to their respective spotify page.</p>
        <img class = "center" src = "/static/img/recos.png" width = "1000">
        <div class = "break-medium"></div>
        <div class = "break-large"></div>
    </div>

</div>
{% endblock %}